<ul class="game-links">
    <li><a href="#/home"><i class="fa fa-home"></i></a></li>
</ul>

<form>
    <div class="panel-center">
        <ul class="settings">
            <li>
                <label>Window Size</label>
                <select ng-model="size" ng-options="s.name for s in sizes"></select>
            </li>
            <li ng-show="size.name === 'Custom'">
                <label>Custom Width</label>
                <input type="text" ng-model="customWidth" />
            </li>
            <li ng-show="size.name === 'Custom'">
                <label>Custom Height</label>
                <input type="text" ng-model="customHeight" />
            </li>
        </ul>

        <button ng-click="saveSettings()">Save</button>
    </div>
</form>
